.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu input, button {
  width: 47%;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.Quiz {
  width: 80vw;
  height: min-content;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 430px;
}

.Menu, .Quiz, .EndScreen h1 {
  color: white;
}

.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
  margin: 30px 0;  
}

h3 {
  color: #ffffff;
}

.InfoQuizz {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px;
}

.Questions {
  width: 80%;
}

.AnswerButton{
  display:flex;
  flex-wrap: wrap;
}